[user]
	name = Edward Samson
	email = edward@samson.ph
	signingkey = 8F92F2692C4214D6
[core]
	excludesfile = ~/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[push]
	default = simple
[init]
	templatedir = ~/.gittemplate
[alias]
	ff = !sh -c 'branch=$(git symbolic-ref HEAD | cut -d '/' -f 3) && git merge --ff-only origin/$branch'
	serve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
[diff]
	algorithm = histogram
[fetch]
	prune = true
[pull]
	ff = only
[commit]
	cleanup = scissors
[mergetool]
	keepBackup = false
[gpg]
	program = gpg2
[pack]
	useSparse = true
[rerere]
	enabled = true
[merge]
	conflictStyle = zdiff3
