[user]
	name = Edward Samson
	email = edward@samson.ph
	signingkey = 8F92F2692C4214D6
[core]
	excludesfile = ~/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[push]
	default = simple
[init]
	templatedir = ~/.gittemplate
	defaultBranch = main
[alias]
	dft = difftool
	dfg = difftool --gui
	ff = !sh -c 'branch=$(git symbolic-ref HEAD | cut -d '/' -f 3) && git merge --ff-only origin/$branch'
	serve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
	dagup = dag HEAD @{u}
[diff]
	algorithm = histogram
	tool = difftastic
	guitool = kdiff3
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[fetch]
	prune = true
[pull]
	ff = only
[commit]
	cleanup = scissors
[mergetool]
	keepBackup = false
[gpg]
	program = gpg2
[pack]
	useSparse = true
[rerere]
	enabled = true
[merge]
	conflictStyle = zdiff3
[tag]
	sort = version:refname
[versionsort]
	suffix = -alpha
	suffix = -beta
[log]
	date = iso-strict-local
